<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shawntime.dao.mapper.CategoryMapper">

    <select id="getCategory" resultType="com.shawntime.dao.entity.Category">
        SELECT
            id as categoryId,
            name as categoryName
        FROM
            category
        WHERE
            id = #{categoryId}
        limit 1
    </select>

</mapper>