<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.shawntime.dao.mapper.ProductMapper">

    <select id="getProduct" resultType="com.shawntime.dao.entity.Product">
        SELECT
            id as productId,
            product_name AS productName,
            price,
            num,
            category
        FROM
            Product
        WHERE
            id = #{productId}
    </select>

</mapper>